<%- include('partials/header');-%>
<div class="container errorpage">
  <h1 class="">This Blog is Not Present.</h1><br>

  <a href="/" class="">Click Here to redirect to Home Page</a>
</div>

<%- include('partials/footer');-%>
